.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

table {
    border: none;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    display: flex;
}

.round-number, .tile-amount {
    margin-bottom: 0;
}

.total-score, .floor-message {
    margin-top: 0;
}

.end-game {
    color: rgb(218, 47, 47);;
}

.start-over {
    color: orange;
}