td {
    padding: 25px;
    border: 1px solid gray;
    border-collapse: collapse;
    border: 1px solid white;
}

.inactive {
    opacity: .15;
    border: 1px solid white;
    animation: fade-out .4s;
}

.current {
    border-color: blueviolet;
}

.active {
    animation: fade-in .4s;
}

.blue {
    background: rgb(55, 55, 214);
}

.orange {
    background: orange;
}

.red {
    background: rgb(218, 47, 47);
}

.black {
    background: rgb(31, 31, 31);
}

.teal {
    background: rgb(3, 200, 200);
}

@keyframes fade-in {
    0% { opacity: .15;}
    100% { opacity: 1;}
}

@keyframes fade-out {
    0% { opacity: 1;}
    100% { opacity: .15;}
}